::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    margin-right: 5px;
    height: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

:root {
    --box-shadow: 0px 3px 2px #000000b4;
    --window-shadow: 0px 10px 20px #00000054;
    --application-border-color: #464646;
}

input:focus {
    outline: none;
    box-shadow: var(--box-shadow);
}

body {
    margin: 0px;
    width: calc(100vw - 6px);
    height: calc(100vh - 7px) !important;
    font-family: "Fira Code", "Fira Mono", "Consolas", "Ubuntu Mono", monospace;
    height: calc(100vh - 2px);
    color: white;
    overflow: hidden;
    background-color: #191919;
}

#allscreen {
    background-color: #191919;
    overflow: hidden;
    padding: 5px;
    outline: 1px #414141 solid;
    height: calc(100vh - 11px);
    width: 100%;
}

button {
    font-family: "Fira Code", "Fira Mono", "Consolas", "Ubuntu Mono", monospace;
    padding: 10px;
    border-radius: 0px;
    border-width: 0px;
    color: white;
    font-weight: 400;
    margin: 0px;
    background-color: transparent;
}

@keyframes fallin {
    0% {
        top: -20px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
}


@keyframes open {
    0% {
        height: 0px;
        overflow: hidden;
    }
}


#popup {
    position: absolute;
    width: calc(80vw - 80px);
    padding: 20px;
    min-height: 150px;
    top: 20px;
    left: 80px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 5px;
    border-style: solid;
    border-color: #9d9d9d;
    border-width: 1px;
    color: white;
    animation-name: fallin;
    animation-duration: 0.25s;
}

#popup button {
    margin-left: 0px !important;
}

#popup #popup_title {
    font-size: large;
    margin-bottom: 10px;
    font-weight: bold;
}

#popup #popup_text {
    font-size: small;
    text-align: left;
    align-items: left;
    align-content: left;
    align-self: left;
    align-tracks: left;
    width: 100%;
}

input {
    border-width: 0px;
    padding: 7.5px;
    border-radius: 2.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Fira Code", "Fira Mono", "Consolas", "Ubuntu Mono", monospace;
    transition: all ease-in-out 0.25s;
    width: calc(100% - 10px);
}

.application {
    height: 40px;
    margin: 4.5px;
    margin-left: 6px;
    border-radius: 10px;
    transition: all ease-in-out 0.25s;
    align-self: left;
    align-content: left;
    align-tracks: left;
    text-align: left;
    background-color: black;
    border-color: var(--application-border-color);
    border-width: 1px;
    border-style: solid;
    box-shadow: var(--box-shadow);    
}

.application img {
    width: 20px;
    margin-bottom: -5px;
}

.application:hover {
    filter: brightness(1.2);
    color: white;
}


.exit img {
    width: 20px;
}

label {
    color: white;
}

input[type="checkbox"],
label {
    cursor: pointer !important;
}

a {
    color: dodgerblue;
}

#selectListGUI {
    position: fixed;
    width: calc(80vw - 60px);
    padding: 10px;
    border-radius: 5px;
    left: 80px;
    top: 175px;
    background-color: black;
    text-align: left;
    align-items: left;
    border-style: solid;
    border-width: 1px;
    border-color: #5b5b5b;
    box-shadow: var(--box-shadow);
    height: 100px;
    overflow-y: scroll;
    animation-name: open;
    animation-duration: 0.65s;
}

#selectListGUI div {
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.193);
    border-bottom-width: 1px;
    padding: 5px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

#selectListGUI div:hover {
    color: dodgerblue;
}

#loadingScreen {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: -1px;
    background-color: black;
    border-radius: 10px;
}

@keyframes colorswap {
    100% {
        opacity: 0%;
        filter: hue-rotate(0.2turn);
    }
}

#loadingScreen img {
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
    position: fixed;
    animation-duration: 1000ms;
    animation-name: colorswap;
}

.notification {
    margin-left: -15px;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
}