@keyframes fly-in {
    0% {
        top: -100px;
        opacity: 0%;
    }
}

#modalMain {
    position: fixed;
    top: 50px;
    width: 50vw;
    left: calc(25vw - 40px);
    border-radius: 5px;
    padding: 20px;
    background-color: #23232356;
    box-shadow: 0px 5px 15px #00000057;
    outline: rgb(64, 64, 64) solid 1px;
    color: white;
    font-family: "Fira Code", "Fira Mono", monospace;
    animation-name: fly-in;
    animation-duration: 0.25s;
    backdrop-filter: blur(10px);
}

#modalMain.red {
    outline: rgba(224, 89, 89, 0.478) solid 1px;
}

#modalMain button {
    transition: ease-in-out 0.25s;
}

#modalMain button:focus {
    outline: none;
}

#modalMain button:hover {
    filter: brightness(1.1);
}

#modalMain button.cta {
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: dodgerblue;
    color: white;
    font-family: "Fira Code", "Fira Mono", monospace;
}

#modalMain button.red {
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(208, 14, 14);
    color: white;
    font-family: "Fira Code", "Fira Mono", monospace;
}

#modalMain button.grey {
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(71, 71, 71);
    color: white;
    font-family: "Fira Code", "Fira Mono", monospace;
}

#modalMain #modalTitle {
    font-size: large;
    margin-bottom: 5px;
    font-weight: bold;
}