::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
    border-radius: 10px;
}

::selection {
    background-color: transparent;
}

@font-face {
    font-family: "Work Sans";
    src: url(../assets/WorkSans.ttf);
}

:root {
    --font-sans: "Work Sans", "Segoe UI", "Cantarell Regular", "Droid Sans", "Noto Sans", sans-serif;
    --font-monospace: "Fira Mono", "Space Mono", "Ubuntu Mono", "Consolas", monospace;
    --accent-color: #E0AC0F;
    --grey-light: #282828;
    --grey-light-2: #313131;
    --grey-light-3: #414141;
    --grey-light-4: #454545;
    --grey-dark: #232323;
    --grey-dark-2: #191919;
    --grey-dark-3: #101010;
    --grey-dark-4: #090909;
    --nav-background: var(--grey-dark-3);
    --border-color: var(--grey-light-2);
    --color-foreground: white;
}

*:focus {
    outline: none;
}

* {
    letter-spacing: 0.75px;
}

body,
html {
    background: #121212;
    color: var(--color-foreground);
    font-family: var(--font-sans);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    cursor: default;
    max-height: 100vh;
}

/* !Manuscript not-specific */

nav {
    padding: 12.5px;
    border-bottom: 1px solid var(--border-color);
    background: var(--nav-background);
}

nav input {
    border-radius: 8px;
    background: var(--grey-dark);
    border-width: 0px;
    color: var(--color-foreground);
    padding: 8px;
    margin: -4px;
    width: calc(85vw - 500px);
    font-family: var(--font-sans);
    transition: filter ease-in-out 0.25s;
    cursor: default;
    position: relative;
    left: calc(50vw - ((85vw - 450px)/2));
}

nav input::selection {
    background-color: var(--grey-light-3) !important;
}

nav input:focus {
    filter: brightness(1.2);
}

nav button {
    border-radius: 8px;
    background: transparent;
    border-width: 0px;
    color: var(--color-foreground);
    padding: 8px;
    width: 49px;
    font-family: var(--font-sans);
    transition: background ease-in-out 0.25s;
}

nav button:hover {
    background-color: var(--grey-light-2);
}

nav button:active {
    transition: ease-in-out 0.125;
    filter: brightness(0.8);
}

nav img {
    height: 12px;
    scale: 1.5;
}

#contextmenu {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
    border-color: #2b2b2b;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.184);
    position: fixed;
    z-index: 200;
}

#contextmenu button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #00000000;
    color: var(--color-foreground);
    transition: 0.125s ease-in-out;
    text-align: left;
    font-family: var(--font-sans);
    font-size: 13px;
    margin-bottom: 5px;
}

#contextmenu button:hover {
    background-color: #0080ff;
}

#contextmenu_delete:hover {
    background-color: rgb(225, 22, 4) !important;
}

@keyframes fly-in {
    0% {
        top: -50px;
        opacity: 0%;
    }
}

#inputModal {
    --width: 500px;
    position: fixed;
    left: calc(50vw - (var(--width) / 2));
    top: 50px;
    width: var(--width);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #00000032;
    height: 42px;
    outline: #2F2F2F 2px solid;
    animation-name: fly-in;
    animation-duration: 0.25s;
    z-index: 100;
    background-color: #191919;
}

#inputModalDropdown {
    position: fixed;
    top: 100px;
    width: 500px;
    left: calc(50vw - 255px);
    background-color: #191919;
    border: 1px #303030 solid;
    box-shadow: 0px 5px 10px #00000032;
    padding: 5px;
    z-index: 200;
    border-radius: 5px;
    animation-name: fly-in;
    animation-duration: 0.25s;
    max-height: 200px;
    overflow-x: scroll;
}

#inputModalDropdown::-webkit-scrollbar {
    display: none;
}

#inputModalDropdown button {
    font-size: large;
    color: var(--color-foreground);
    font-family: var(--font-sans);
    background-color: transparent;
    border-style: none;
    width: 100%;
    text-align: left;
    transition: 0.25s ease-in-out;
    border-radius: 2.5px;
    margin: 2.5px;
    padding: 5px;
}

#inputModalDropdown button:hover {
    background-color: #2e2e2e;
}

#inputModal input {
    height: 20px;
    width: var(--width);
    background-color: rgba(19, 19, 19, 0.339);
    color: var(--color-foreground);
    border-width: 0px;
    font-size: 15px;
    font-family: var(--font-sans);
    padding: 10px;

}

#inputModal input:focus {
    outline: none;
}

#settings {
    position: fixed;
    width: 50vw;
    height: calc(100vh - 200px);
    top: 100px;
    left: 25vw;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--grey-dark-2);
    box-shadow: 0px 0px 0px 100vw #0000004d, 0px 5px 12px #00000041;
    overflow-y: scroll;
}

#settings::-webkit-scrollbar {
    opacity: 50%;
}

#settings button.color_picker {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-width: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: ease-in-out 0.125s;
}

#settings button.color_picker:hover {
    filter: brightness(1.2);
}

#settings button.selected {
    box-shadow: 0px 0px 0px 2px white inset;
    filter: brightness(0.9);
}

#settings button.red {
    background-color: #FF2525;
}

#settings button.orange {
    background-color: #E76E0C;
}

#settings button.yellow {
    background-color: #E0AC0F;
}

#settings button.green {
    background-color: #15C629;
}

#settings button.blue {
    background-color: #0B94D4;
}

#settings button.purple {
    background-color: #B940FF;
}

#settings button.white {
    background-color: #FFFFFF;
}

#settings h1,
#settings h2,
#settings h3,
#settings h4,
#settings h5 {
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
}

label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
}

#newNoteButton,
#newMapButton {
    background: transparent;
    border-width: 0px;
    color: var(--color-foreground);
    padding: 4px;
    font-family: var(--font-sans);
    margin-bottom: 5px;
}

#newNoteButton img,
#newMapButton img {
    background: transparent;
    border-width: 0px;
    color: var(--color-foreground);
    padding: 4px;
    font-family: var(--font-sans);
    margin-bottom: 5px;
}


#newNoteButton:active {
    transition: ease-in-out 0.25;
    filter: brightness(0.8);
}

#newNoteButton img {
    height: 12px;
    scale: 1.5;
    margin-bottom: -2px;
}

#settings input[type="text"] {
    border-radius: 8px;
    background: transparent;
    border-width: 0px;
    color: var(--color-foreground);
    padding: 7px;
    font-family: var(--font-sans);
    background-color: var(--grey-light);
    font-size: 16px;
    margin-bottom: 5px;
    width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* !Manuscript specific */

#notes_list {
    width: calc(20vw - 43px);
    float: left;
    padding: 10px;
    height: calc(100vh - 20px);
    overflow-y: scroll;
}

#notes_list::-webkit-scrollbar {
    display: none;
}

#notes_list button.noteButton {
    border: none;
    color: var(--color-foreground);
    background-color: transparent;
    font-family: var(--font-sans);
    font-size: 16px;
    width: calc(100% - 21px);
    text-align: left;
    padding: 5px;
    border-radius: 2.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: ease-in-out 0.125s;
    margin-bottom: 5px;
    margin-right: 5px;
}

#notes_list button.noteButton:hover {
    background-color: var(--grey-dark-4);
}

#notes_list img {
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
}

#notes_list button.selected {
    outline: 1px solid var(--accent-color);
    color: var(--accent-color);
}

#notes_view_rendered,
#notes_view_source {
    width: 80vw;
    max-width: 80vw;
    float: right;
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    padding: 10px;
}

#notes_view_rendered {
    font-size: 18px;
    font-family: var(--font-monospace);
    background-color: var(--grey-dark-2);
    line-break: anywhere;
    overflow-y: scroll;
}

#notes_view_rendered::selection,
#notes_view_source::selection {
    color: var(--color-foreground) !important;
    background-color: var(--grey-light-4) !important;
}

#notes_view_source {
    background-color: var(--grey-dark-2);
    border: 0px;
    resize: none;
    caret-color: var(--color-foreground);
    font-size: 18px;
    font-family: var(--font-monospace);
    color: var(--color-foreground);
}

#notes_view_rendered p {
    padding-top: 0px;
    margin-top: 0px;
}

#notes_view_rendered table th {
    border-bottom: 1px solid var(--accent-color);
    padding: 5px;
}

#notes_view_rendered table td {
    padding: 5px;
}

#notes_view_rendered h1,
#notes_view_rendered h2,
#notes_view_rendered h3,
#notes_view_rendered h4,
#notes_view_rendered h5,
#notes_view_rendered h6 {
    margin: 0px;
    padding-bottom: 8px;
    padding-top: 5px;
    color: var(--accent-color);
}

#notes_view_rendered h1 {
    margin-bottom: 10px;
}

#notes_view_rendered code {
    font-family: var(--font-monospace);
    display: block;
    width: fit-content;
    max-width: calc(90%);
    background-color: var(--grey-dark-3);
    padding: 15px;
    border-radius: 5px;
}

#notes_view_rendered pre > code {
    width: fit-content;
    max-width: calc(90%);
    line-break: anywhere;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    overflow: auto;
}

#notes_view_rendered button.noteLink {
    background-color: transparent;
    border: 0px;
    color: var(--accent-color) !important;
    font-family: var(--font-monospace);
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

#notes_view_rendered button {
    color: red;
}

#notes_view_rendered a {
    color: var(--accent-color) !important;
}

#notes_view_rendered blockquote {
    background-color: var(--grey-dark-3);
    margin: 0px;
    margin-bottom: 15px !important;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-sans);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 5px solid var(--accent-color);
    width: calc(90% - 20px);
}

#notes_view_rendered blockquote > p {
    margin-bottom: 0px !important;
    margin-left: 10px;
}