<!DOCTYPE html>
<html lang="en">
<!-- Dashboard Admin -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zentrox</title>
    <link rel="stylesheet" href="dashboard_admin.css" />
    <script src="dashboard_admin.js"></script>
    <script src="modal.js"></script>
</head>

<body>
    <div id="sideBar">
        <h2>Zentrox</h2>
        <button onclick="changePage('overview')">
            <img src="status.png" alt="status" />Overview</button><br />
        <button onclick="changePage('applications');">
            <img src="applications.png" alt="applications" />Applications</button><br />
        <button onclick="changePage('storage');renderFiles(currFPath)"><img src="storage.png"
                alt="storage" />Storage</button><br />
        <button onclick="changePage('shell')"><img src="shell.png" alt="shell" />Shell</button><br />
        <button><img src="shield.png" alt="shield" />Securitry</button><br />
        <button onclick="changePage('users')"><img src="users.png" alt="users" />Users</button><br />
        <button><img src="settings.png" alt="settings" />Settings</button><br />
        <button onclick="location.href='/logout'">
            <img src="logout.png" alt="logout" />Logout
        </button>
    </div>
    <div id="pages">
        <div id="overview">
            <h2>Overview</h2>
            <details open>
                <summary>
                    <h3>Resources</h3>
                </summary>
                <div style="padding: 10px">
                    <div class="line_bar_chart">
                        <div id="cpu_bar" style="width: 200px">CPU</div>
                    </div>
                    <br />
                    <div class="line_bar_chart">
                        <div id="ram_bar" style="width: 20px">RAM</div>
                    </div>
                    <br />
                </div>
            </details>

        </div>
        <div id="applications" hidden>
            <h2>Applications</h2>
            <input type="text" placeholder="Search all packages" id="packageSearch" onkeyup="lookForPackage()" />
            <div id="loadingApplications">Loading</div>
            <br />
            <div id="packageSearchResults" hidden></div>
            <details id="installedAppsDetails" hidden>
                <summary>
                    Installed apps
                </summary>
                <div id="installedApps"></div>
            </details>
            <details id="installedPackagesDetails" hidden>
                <summary>
                    Installed packages
                </summary>
                <div id="installedPackages"></div>
            </details>
        </div>
        <div id="storage" oncontextmenu="return false;" hidden>
            <div id="contextmenu" hidden>
                <button id="renameButton">Rename</button>
                <button id="deleteButton">Delete</button>
            </div>
            <h2>Storage</h2>
            <button onclick="goFUp()">Up</button><span id="currPath"></span><input type="checkbox" id="showHiddenFiles"
                name="showHiddenFiles" onchange="renderFiles(currFPath)"><label for="showHiddenFiles">Show hidden
                files</label>
            <div id="filesContainer">
            </div>
        </div>
        <div id="users">
            <h2>Users</h2>
            <div id="usersTable"></div>
        </div>
    </div>
</body>

</html>