<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="welcome.css">
    <script>
        function submitLogin() {
            username = document.getElementById("usernameInput").value,
            password = document.getElementById("passwordInput").value
            fetch("/signup", {
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({
                    "username": username,
                    "password": password
                })
            }).then((res) => res.json())
                .then((data) => {
                    if (data["status"] == "s") {
                        location.href = "/dashboard"
                    }
                })
        }
    </script>
</head>

<body>
    <div class="contentPage">
        <br>
        <div style="text-align: center;">
            <img src="Zentrox.png" alt="Server" width="100">
        </div>
        <h1>
            <%= serverName %>
        </h1>
        <h3 align="center">
          Signup  
        </h3>  
      <br>
        <div id="form">
            <input type="text" placeholder="Username" id="usernameInput">
            <br>
            <input type="password" placeholder="Password" id="passwordInput"><br>
            <button onclick="submitLogin()">Signup</button>
        </div>
    </div>
</body>

</html>
