@font-face {
    font-family: "Work Sans";
    src: url(WorkSansVar.ttf);
}

:root {
    --accent-color: #8c8c8c;
}

*:focus {
    outline: none;
    filter: brightness(1.2);
}

button:hover {
    filter: brightness(1.1);
}

::placeholder {
    color: #888;
}

* {
    font-family: "Work Sans", sans-serif;
}


body {
    background-color: #111;
    color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

input[type="text"],
input[type="password"],
select {
    margin: 10px;
    margin-left: 0px;
    padding: 12px;
    font-size: large;
    border-radius: 8px;
    color: white;
    background-color: #222;
    border: 0px;
    transition: ease-in-out 0.25s;
    width: 200px;
}

select {
    width: 225px;
}

small {
    color: #666;
}

span.caption {
    color: #888;
    max-width: 200px;
    font-size: 14px;
}

a {
    color: dodgerblue;
    text-decoration: none;
    opacity: 40%;
}

button {
    margin-top: 10px;
    padding: 12px;
    font-size: large;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    border: 0px;
    transition: ease-in-out 0.25s;
    margin-right: 5px;

    & img {
        width: 18px;
        margin-bottom: -3px;
        padding-right: 5px;
    }

    &:hover {
        background-color: #4f4f4f;
    }
}

.outline {
    border: 1px solid #8c8c8c;
    background-color: transparent;
    color: #8c8c8c;
}

#sideBar button {
    width: 175px;
    text-align: left;
}

#sideBar {
    display: inline-block;
    background-color: #242424;
    padding: 5px;
    height: 100vh;

    & h2 {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}

#pages {
    display: inline-block;
    height: 100vh;
    padding: 10px;
    position: fixed;

    & summary h3 {
        font-size: 20px;
        font-weight: 500;
        padding: 2.5px;
        color: #ffffff88;
        display: contents;
    }
}

.line_bar_chart {
    width: 210px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #242424;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;

    & div {
        padding: 5px;
        height: 25px;
        font-size: 20px;
        background-color: dodgerblue;
        transition: width ease-in-out 0.125s;
        border-radius: 17.5px;
    }
}