@font-face {
    font-family: "Work Sans";
    src: url(WorkSansVar.ttf);
}

:root {
    --accent-color: #8c8c8c;
}

*:focus {
    outline: none;
    filter: brightness(1.2);
}

button:hover {
    filter: brightness(1.1);
}

::placeholder {
    color: #888;
}

* {
    font-family: "Work Sans", sans-serif;
}


body {
    background-color: #111;
    color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

input[type="text"],
input[type="password"],
select {
    margin: 10px;
    margin-left: 0px;
    padding: 12px;
    font-size: large;
    border-radius: 8px;
    color: white;
    background-color: #222;
    border: 0px;
    transition: ease-in-out 0.25s;
    width: 200px;
}

select {
    width: 225px;
}

small {
    color: #666;
}

span.caption {
    color: #888;
    max-width: 200px;
    font-size: 14px;
}

a {
    color: dodgerblue;
    text-decoration: none;
    opacity: 40%;
}

button {
    margin-top: 10px;
    padding: 12px;
    font-size: large;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    border: 0px;
    transition: ease-in-out 0.25s;
    margin-right: 5px;

    & img {
        width: 18px;
        margin-bottom: -3px;
        padding-right: 5px;
    }

    &:hover {
        background-color: #4f4f4f;
    }
}

.outline {
    border: 1px solid #8c8c8c;
    background-color: transparent;
    color: #8c8c8c;
}

#sideBar button {
    width: 175px;
    text-align: left;
}

#sideBar {
    display: inline-block;
    background-color: #242424;
    padding: 5px;
    height: 100vh;

    & h2 {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}

#pages {
    display: inline-block;
    height: 100vh;
    padding: 10px;
    position: fixed;

    & summary h3 {
        font-size: 20px;
        font-weight: 500;
        padding: 2.5px;
        color: #ffffff88;
        display: contents;
    }
}

.line_bar_chart {
    width: 210px;
    height: 35px;
    border-radius: 5px;
    background-color: #242424;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;

    & div {
        padding: 5px;
        height: 25px;
        font-size: 20px;
        background-color: dodgerblue;
        transition: width ease-in-out 0.125s;
        border-radius: 5px;
    }
}

#filesContainer {
    overflow: scroll;
    max-height: 90vh;
    width: calc(100vw - 250px);
}

#filesContainer::-webkit-scrollbar {
    display: none;
}

.fileButtons {
    height: 80px;
    max-height: 80px;
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
    border-radius: 2.5px;
    border: 1px solid #333;
    text-align: center;
    align-content: center;
    white-space: nowrap;

    &:hover {
        background-color: #222 !important;
    }
}

#files #contextmenu {
    border-radius: 5px;
    padding: 10px;
    background-color: #222;
    border: #111 1px solid;
    position: fixed;
    z-index: 300;

    & button {
        width: calc(100% - 5px);
        display: block;
        text-align: left;
        padding: 5px;
        margin: 5px;
        transition: linear 0.125s;

        &:hover {
            background-color: #111;
        }
    }
}

td {
    padding: 10px;
}

td button {
    background: transparent;
    color: white;
    padding: 0px;
    margin: 0px;
}

td button:hover {
    background: transparent;
    opacity: 80%;
}

h2 {
    margin-bottom: 5px;
}

#renameNameInput {
    padding: 8px;
    background-color: #444;
    border: 1px solid #333 !important;
}

input[type="checkbox"] {
    appearance: none;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background: #ffffff22;
    border-radius: 2px;
    background-size: 0%;
    background-position: center;
    transition: ease-in-out 0.125s;
}


input[type="checkbox"]:checked {
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    background: rgb(31, 67, 103);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA0klEQVR4nO2XWwrCMBQF7w59oPRD9y4oqNAlVBgJtOqHSmrT5EbOfBUKzZyT9pKaCSGEEGJegBVwAVpgYzUBNEDHk9Yqlg9crWL5Dlibd4DtG/kbsDPvIPlCoOYLgZovhJr/y+aBBXAEDuE6iXHc8aBJtcB5lgfnkA/07SdfIIv8yyuUdKFs8gPhj+fDR7a3WkYlCUIUn/NMCFFcfkoIN/K/hHAnPyaEW/mYEO7lI2Z6vjk/0074bn5ECP/yX0LUIz8ALIFTfwhcPm4IIYQQwqK4A05/JpzKhHQ2AAAAAElFTkSuQmCC");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

label[for="showHiddenFiles"] {
    position: fixed;
    right: 50px
}

#showHiddenFiles {
    position: fixed;
    right: 195px;
}

.package {
    height: 80px;
    max-height: 80px;
    width: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    vertical-align: middle;
    border-radius: 2.5px;
    border: 1px solid #333;
    text-align: center;
    align-content: center;
    white-space: nowrap;
    display: inline-block;
    margin: 15px;

    &:hover {
        background-color: #222 !important;
    }

    & img {
        height: 50px;
        width: 50px;
    }
}

#installedApps {
    overflow-x: scroll;
    height: calc(100vh - 190px);
    margin: 9px;
    width: calc(100vw - 200px) !important;
    padding: 10px;
}

#installedApps::-webkit-scrollbar {
    display: none;
}