@font-face {
  font-family: "Work Sans";
  src: url(/assets/WorkSans.ttf);
}

:root {
  --font-sans: "Work Sans", "Segoe UI", "Cantarell Regular", "Droid Sans",
    "Noto Sans", sans-serif;
  --font-monospace: "Fira Mono", "Space Mono", "Ubuntu Mono", "Consolas",
    monospace;
}

body {
  font-family: var(--font-sans);
  background-color: var(--dark-3);
  color: var(--color-foreground);
  padding: 5px;
  margin: 0px;
  overflow: hidden;
}

webview {
  width: 100%;
  height: calc(100vh - 20px) !important;
}

iframe::-webkit-scrollbar {
  display: none;
}

#webviewWrapper {
  border-radius: 5px;
  width: 100%;
  height: calc(100vh - 10px);
  overflow: hidden;
  box-shadow: 0px 0px 0px transparent;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
  color: var(--accent-color) !important;
}

@keyframes side_bar_move_in {
  0% {
    left: -100vw;
  }
}

@keyframes side_bar_move_out {
  100% {
    left: -100vw;
  }
}

@keyframes element_fade_in {
  0% {
    opacity: 0%;
  }
}

@keyframes element_fade_out {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.moveOut {
  animation: side_bar_move_out 0.3s !important;
}

.fadeOut {
  animation: element_fade_out 0.3s !important;
}

#sideBar {
  position: fixed;
  height: calc(100vh - 60px);
  padding: 10px;
  left: 20px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--dark-2);
  box-shadow: 0px 0px 0px 1000vw #00000099;
  animation: side_bar_move_in 0.05s;
  width: 300px;
  max-width: calc(100vw - 60px);
  cursor: default;

  & button {
    width: 20px;
    height: 33px;
    padding: 8px;
    border-radius: 2.5px;
    background-color: var(--light-1);
    border: none;
    transition: ease-in-out 0.25s;

    &:hover {
      background-color: #ffffff22;
    }

    & img {
      height: 10px;
      transform: scale(1.1);
      margin-left: -3px;
    }
  }

  & input {
    width: calc(100% - 120px);
    padding: 8px;
    border-radius: 2.5px;
    background-color: var(--dark-1);
    border: none;
    transition: ease-in-out 0.25s;
    color: #ffffff99;
    font-family: var(--font-sans);
    outline: #00000000 1px solid;

    &:focus {
      color: #ffffff;
    }
  }

  & button.tab {
    margin: 5px !important;
    margin-left: 0px !important;
    background-color: var(--dark) !important;
    border: 1px solid var(--light-2) !important;
    color: white !important;
    border-radius: 5px !important;
    width: calc(100% - 30px) !important;
    max-width: calc(300px - 30px) !important;
    text-overflow: ellipsis;
    text-align: left;
    height: fit-content !important;
    font-family: var(--font-sans);
    cursor: pointer;
    transition: ease-in-out 0.25s;

    &:hover {
      background-color: #ffffff11 !important;
    }

    & img {
      height: 12px !important;
      margin-bottom: -2px !important;
      margin-right: 5px !important;
    }
  }

  & #tablist {
    max-height: calc(100% - 70px);
    overflow: scroll;


    & img {
      height: 20px;
      margin-bottom: -5px;
      margin-left: 5px;
    }
  }

  & #tablist::-webkit-scrollbar {
    display: none;
  }

  & .tooltip {
    position: fixed;
    left: 10px;
    bottom: 30px;
  }

}

#sideBarButton {
  padding: 2.5px;
  border-radius: 2.5px;
  background-color: #ffffff2c;
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(0, 0, 0, 0.327);
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: ease-in-out 0.125s;

  &:hover {
    transform: scale(2);
  }

  & img {
    height: 8px;
    margin-bottom: 4px;
    margin-left: -2px;
  }
}

#protectionOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}


div.tooltip {
  animation: side_bar_move_in;
  animation-duration: 0.25s;
  font-size: 12px;
  opacity: 60%;
  padding: 5px;
  transform: scale(0.8);
}

.keyTooltip {
  padding: 4px;
  border-radius: 2px;
  background-color: #ffffff33;
  border: 1px solid #ffffff99;
}

#bookmarkWindow {
  position: absolute;
  height: 30vh;
  width: 60vw;
  padding: 10px;
  left: calc(50vw - 30vw - 5px);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--dark-3);
  border: 1px solid var(--light-2);
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #00000030, 0px 0px 0px 100vw #00000074;
  font-family: var(--font-sans);
  overflow-y: scroll;
  animation-name: element_fade_in;
  animation-duration: 0.25s;

  & button {
    border: none;
    padding: 5px;
    margin: 5px;
    color: #ffffff66;
    font-family: var(--font-sans);
    background-color: transparent;
    font-weight: lighter;
    letter-spacing: 0.75px;
    text-align: left;
    width: calc(100% - 20px);

    & b {
      color: white !important;
    }
  }

  & input {
    width: calc(100% - 40px);
    padding: 8px;
    border-radius: 2.5px;
    background-color: var(--dark-1);
    border: none;
    transition: ease-in-out 0.25s;
    color: #ffffff99;
    font-family: var(--font-sans);
    outline: #00000000 1px solid;

    &:focus {
      color: #ffffff;
    }
  }
}

#bookmarkWindow::-webkit-scrollbar {
  display: none;
}

#commandPallet {
  width: 80vw;
  max-height: 250px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 2.5px;
  padding: 5px;
  background-color: var(--dark-2);
  border: 1px;
  position: fixed;
  top: 40px;
  left: calc(10vw - 10px);
  box-shadow: 0px 0px 0px 200vw #00000099;
  animation-name: element_fade_in;
  animation-duration: 0.25s;

  & input {
    background-color: transparent;
    color: white;
    border: 0px;
    font-family: var(--font-sans);
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
  }

  & button {
    border: 0px;
    background-color: transparent;
    color: white;
    padding: 5px;
    font-family: var(--font-sans);
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;

    &:focus {
      background-color: #ffffff22;
    }
  }
}

#commandPallet::-webkit-scrollbar {
  display: none;
}

#help {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--dark-3);
  overflow: scroll;
  line-height: 25px;
}